

/* Estilizando a div com a classe "container" */

  
  /* Estilizando a imagem com a classe "dolar" */
  .dolar {
    width: 100px; /* Largura da imagem */
    height: auto; /* Altura ajustada automaticamente */
    display: block; /* Para centralizar a imagem horizontalmente */
    margin: 0 auto; /* Para centralizar a imagem horizontalmente */
    border: 1px solid #333; /* Adiciona uma borda à imagem */
  }
  
  /* Estilizando os elementos h2 e h3 dentro da div "container" */
  .container h2 {
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Família de fontes */
    margin: 10px 0px; /* Adiciona margem acima e abaixo dos elementos */
  }
  .container h3 {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #007bff;
  }
  /* Adicione mais estilos conforme necessário */
  

/* Estilos gerais */
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Modo claro */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0; /* Cor de fundo dos containers no modo claro */
}

.dolar {
  max-width: 100px;
  border-radius: 50%;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode.container {
  background-color: #333333;
  color: #ffffff; /* Cor do texto nos containers no modo escuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Botão de alternância */
.toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  background-color: #0056b3;
}
