* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://cdn1.sputniknewsbr.com.br/img/07e7/0b/01/31198715_0:8:2679:1515_1920x0_80_0_0_46491bdc229a55a5a8a26c72aa0269e1.jpg);
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h3 {
    font-size: 18px;
    color: #007bff;
}


